svg {
    font-family: "Parisienne", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #F7DADF;
    font-size: 36px;
}

@keyframes stroke {
    0% {
        fill: rgba(247, 204, 204, 0);
        stroke: rgba(247, 218, 223, 1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }

    70% {
        fill: rgba(247, 204, 204, 0);
        stroke: rgba(247, 218, 223, 1);
    }

    80% {
        fill: rgba(247, 204, 204, 0);
        stroke: rgba(247, 218, 223, 1);
        stroke-width: 3;
    }

    100% {
        fill: rgba(247, 204, 204, 1);
        stroke: rgba(247, 218, 223, 0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.svg-nombre {
    height: 6rem;
}

.texto-largo {
    font-size: 17px;
    color: #3f00eb;
    font-weight: 700;
    width: 80%;
    margin: auto;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    text-shadow: 0px 2px 3px #ffffff;
}

@media screen and (min-width: 1200px) {
    .svg-nombre {
        height: 15rem;
    }
}